<div class="container">
  <h1 class="display-1">Pet Shelter</h1>
  <h1>Edit this pet</h1>
  <div class="row">
    <div class="col-8">
      <form (submit)="onSubmit()">
        <label for="name">Pet name:</label>
        <input id="name" type="text" name="name" [(ngModel)]="pet.name"(value)="pet.name">
        <label for="type">Pet type:</label>
        <input id="type" type="text" name="type" [(ngModel)]="pet.type" (value)="pet.type">
        <label for="description">Description:</label>
        <input id="description" type="text" name="description" [(ngModel)]="pet.description" (value)="pet.description">
        <label for="skills">Skills:</label>
        <table>
          <tr>
            <td><label for="skill_1">Skill 1:</label></td>
            <td><input id="skill_1" type="text" name="skill_1" [(ngModel)]="pet.skill_1" (value)="pet.skill_1"></td>
          </tr>
          <tr>
            <td><label for="skill_2">Skill 2:</label></td>
            <td><input id="skill_2" type="text" name="skill_2" [(ngModel)]="pet.skill_2" (value)="pet.skill_2"></td>
          </tr>
          <tr>
            <td><label for="skill_3">Skill 3:</label></td>
            <td><input id="skill_3" type="text" name="skill_3" [(ngModel)]="pet.skill_3" (value)="pet.skill_3"></td>
          </tr>
        </table>
        <button class="btn btn-primary" type="submit">Edit Pet</button>
        <button class="btn btn-danger" type="button" (click)="gotoShow()">Cancel</button>
      </form>
    </div>
    <div class="col-4">
      <p *ngFor="let error of messages" class="text-danger font-weight-bold">{{ error }}</p>
    </div>
  </div>
</div>
